<%- include('../../partials/header'); -%>
<%- include('../../partials/request'); -%>

<main> 
  <div class="container doc">
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <div id="structure1" class="section scrollspy">

          <div class="url-line">
            <h1 class="title"><%= pageData.data.title %></h1>

            <h3 class="url-title">
              <span class="request is-rounded" style="margin-right: 0.25rem;">get</span>
              <%= pageData.data.get %>
            </h3>
          </div>
          
          <%- include('../../partials/message/fixtures/all_fixtures_primary'); -%>

          <%- include('../../partials/message/fixtures/fixtures_by_league_info.ejs'); -%>

          <h3 class="subtitle is-size-5">How to make a request?</h3>

          <%- include('../../partials/request/fixtures/fixtures_by_league'); -%>

          <h3 class="subtitle is-size-5">What attributes will be returned</h3>

          <%- include('../../partials/attributes/all_fixtures'); -%>

          <%- include('../../partials/codes/fixtures/fixtures_by_league'); -%>
          <%- include('../../partials/navigation'); -%>

        </div>
      </div>

    </div>
  </div>

</main>

<%- include('../../partials/footer'); -%>