<%- include('../../partials/header'); -%>

<main> 
  <div class="container doc">
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <div id="structure1" class="section scrollspy">

          <div class="url-line">
            <h1 class="title"><%= pageData.data.title %></h1>

            <h3 class="url-title">
              <span class="request is-rounded" style="margin-right: 0.25rem;">get</span>
              <%= pageData.data.get %>
            </h3>
          </div>

          <%- include('../../partials/message/referees/all_referees_primary'); -%>

          <%- include('../../partials/message/referees/all_referees_info'); -%>

          <h3 class="subtitle is-size-5">How to make a request?</h3>

          <h3 class="subtitle is-size-5">What attributes will be returned</h3>
          <%- include('../../partials/attributes/referees/all_referees'); -%>

          <%- include('../../partials/navigation'); -%>

        </div>
      </div>

    </div>
  </div>

</main>

<%- include('../../partials/footer'); -%>